include LICENSE
include README.md
recursive-include nirdust *.py

exclude tox.ini
exclude pyproject.toml
exclude .readthedocs.yml

recursive-exclude tests *
recursive-exclude result_images *
recursive-exclude docs *
recursive-exclude examples *

recursive-include docs *.fits

