include LICENSE
include README.md
recursive-include nirdust *.py

recursive-exclude tests *
recursive-exclude result_images *
recursive-exclude docs *
recursive-exclude examples *

exclude tox.ini
exclude pyproject.toml

